<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Airline Planner</title>
  </head>
  <body>
    <div class="container">

      @Html.Partial("Header")
      @RenderBody()
      @Html.Partial("Footer")

    </div>
  </body>
</html>
