@{
  Layout = "_Layout";
}
<h3>Update Flight: @Model["selectedFlight"].GetName()</h3>
<div class="row">
  <div class="col-md-4">
    <form class="form-group" action="/flights" method="post">
      <select class="form-control" name="flight-name">
        <option value="">Select flight</option>
        <option value="UA129">UA129</option>
        <option value="DD434">DD434</option>
        <option value="AA100">AA100</option>
        <option value="HA970">HA970</option>
        <option value="JB119">JB119</option>
        <option value="BR745">BR745</option>
      </select>
      <label for="date"><em>Departure Date:</em></label>
      <input type="date" name="date">
      <select class="form-control" name="dept-city">
        <option value="">Select departure city</option>
        <option value="Seattle">Seattle</option>
        <option value="Mexico City">Mexico City</option>
        <option value="Vancouver">Vancouver</option>
        <option value="San Francisco">San Francisco</option>
        <option value="New York">New York</option>
        <option value="Chicago">Chicago</option>
      </select>
      <select class="form-control" name="arrival-city">
        <option value="">Select destination city</option>
        <option value="Seattle">Seattle</option>
        <option value="Mexico City">Mexico City</option>
        <option value="Vancouver">Vancouver</option>
        <option value="San Francisco">San Francisco</option>
        <option value="New York">New York</option>
        <option value="Chicago">Chicago</option>
      </select>
      <select class="form-control" name="status">
        <option value="">Select flight status</option>
        <option value="Ontime">On Time</option>
        <option value="Delayed">Delayed</option>
        <option value="Cancelled">Cancelled</option>
      </select>
      <br>
      <button class="btn btn-primary" type="submit" name="button">Submit</button>
    </form>
  </div>
</div>
