@{
  Layout = "_Layout";
}

<h3>Cities</h3>

  <div>@if(Model.Count != 0)
  {
    <ul>
      @foreach (var city in Model)
      {
        <li><a href="/cities/@city.GetCityId()">@city.GetName()</a></li>
      }
    </ul>
  }
</div>

  <h5><a href="/cities/new">Add new city</a></h5>
  <h5><a href="/cities/deleteall">Delete all cities</a></h5>
  <h5><a href="/">Return to home page</a></h5>
