@{
  Layout = "_Layout";
}
<h3>Update City: @Model["selectedCity"].GetName()</h3>

<div class="row">
  <div class="col-md-6">
    <form class="form-group" action="/cities" method="post">
      <select class="form-control" name="city-name">
        <option value="Seattle">Seattle</option>
        <option value="Portland">Portland</option>
        <option value="Los Angeles">Los Angeles</option>
        <option value="New York">New York</option>
        <option value="Miami">Miami</option>
        <option value="Chicago">Chicago</option>
      </select>
      <select class="form-control" name="airline-name">
        <option value="United">United</option>
        <option value="Delta">Delta</option>
        <option value="Alaskan">Alaskan</option>
        <option value="Hawaiian">Hawaiian</option>
        <option value="JetBlue">JetBlue</option>
      </select>
      <button class="btn btn-primary" type="submit" name="button">Submit</button>
    </form>
  </div>
</div>
